<h1><%= link_to CONFIG['blog_name'], root_path %></h1>
<h4><%= CONFIG['motto'] %></h4>
<p><%= CONFIG['author'] %></p>

<% if CONFIG['email'] %>
  <%= link_to "mailto:#{CONFIG['email']}" do %>
    <i class='icon-envelope'></i>
  <% end %>
<% end %>

<% if CONFIG['github'] %>
  <%= link_to "http://github.com/#{CONFIG['github']}" do %>
    <i class='icon-align-left'></i>
  <% end %>
<% end %><br />

<%= link_to "Admin", "/admin", class: "admin_link" %>
